tr:nth-child(1) > th {
    cursor: n-resize;
}

input {
    height: 20px;
    width: 125px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding: 0px 4px;
}
table button {
    height: 20px;
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
table button:hover {
    background-color: #ff9999;
}
#tbody-staff tr td:hover {
    cursor: pointer;
}
tbody, th {
    text-align: center;
}

.tr-1 th:hover {
    cursor: pointer;
    text-decoration: underline;
    color: coral;
}